<!DOCTYPE html>
<html lang="en">
<head>
    <title>Confidently Incorrect</title>
    <div th:replace="fragments/header :: header"></div>
    <script src="/static/js/runtime~PreGameLobby.bundle.js"></script>
    <script src="/static/js/PreGameLobby.bundle.js"></script>
</head>
<body>
<div class="container-fluid w-75 p-3">
    <h1 class="text-center"><a style="color:#ffffff">WAITING</a> <a
            style="color:#e6640c">ROOM</a>
    </h1>
    <div class="col-md-8 offset-md-2">
        <br/>
        <br/>
        <div class="text-center">
            <h2 id="DisplayLobbyCode">*queue elevator music*</h2>
            <p>
                Waiting for other players...
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 order-md-1 offset-md-4">
            <ul id="PlayerList" class="list-inline mx-auto justify-content-center">
            </ul>
        </div>
        <div class="col-md-3 order-md-2">
            <p>*progress indicator*</p>
        </div>
    </div>
    <br/>
    <form>
        <div class="center-stuff" display="none">
            <button id="BtnStartGame" type="button" class="btn btn-lg btn-primary" style="padding: 1em">Start Game</button>
        </div>
    </form>
</div>
</div>
</body>
</html>