<!DOCTYPE html>
<html lang="en">
<head>
    <title>Confidently Incorrect</title>
    <div th:replace="fragments/header :: header"></div>
    <script src="/static/js/runtime~QuestionResults.bundle.js"></script>
    <script src="/static/js/QuestionResults.bundle.js"></script>
</head>
<body>
<div class="container-fluid w-75 p-3">
    <h1 class="text-center"><a style="color:#ffffff">ROUND</a> <a style="color:#e6640c">COMPLETED</a>
    </h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br/>
            <br/>
            <div class="text-center">
                <h2 id="AnswerField"></h2>
                <p>Here are the scores and estimates from this round</p>
            </div>
        </div>
        <table id="ScoreList" style="margin-top: 2em;">
            <tr>
                <th style="width: 2em"></th>
                <th><p>Score</p></th>
                <th><p>Cumulative Score</p></th>
                <th><p>Player Name</p></th>
                <th><p>Lower Bound</p></th>
                <th><p>Upper Bound</p></th>
            </tr>
        </table>
        <br/>
        <form>
            <div class="center-stuff" style="padding-top: 2em">
                <button id="BtnNextQuestion" type="button" class="btn btn-lg btn-success">Next Question</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>