<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confidently Incorrect</title>
    <div th:replace="~{fragments/header :: header}"></div>
    <script th:src="@{/static/js/runtime~Question.bundle.js}"></script>
    <script th:src="@{/static/js/Question.bundle.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 fade-in">
            <h1 id="TitleText" class="text-center mb-4">
                <span style="color:var(--text-color)">PROVIDE</span>
                <span style="color:var(--secondary-color)">ESTIMATE</span>
            </h1>

            <div class="card mb-4">
                <div class="text-center mb-3">
                    <h2 id="QuestionField" class="mb-3">How much wood could a wood chuck chuck if a wood chuck could chuck wood?</h2>
                    <div class="center-stuff">
                        <div id="TimeRemaining"></div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <label for="LowerBoundField" class="form-label">Lower Bound</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="material-icons">arrow_downward</i></span>
                            <input type="text" class="form-control" id="LowerBoundField"
                                   aria-describedby="LowerBoundHelp" placeholder="1k">
                        </div>
                        <div id="LowerBoundHelp" class="form-text text-white-50">Your lowest possible estimate</div>
                    </div>
                    <div class="col-md-6">
                        <label for="UpperBoundField" class="form-label">Upper Bound</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="material-icons">arrow_upward</i></span>
                            <input type="text" class="form-control" id="UpperBoundField"
                                   aria-describedby="UpperBoundHelp" placeholder="5m">
                        </div>
                        <div id="UpperBoundHelp" class="form-text text-white-50">Your highest possible estimate</div>
                    </div>
                </div>

                <div class="center-stuff">
                    <button id="BtnSubmitEstimate" type="button" class="btn btn-lg btn-primary">
                        <i class="material-icons">send</i> Submit Estimate
                    </button>
                </div>
            </div>

            <div class="text-center">
                <h1 id="ScoreField" class="display-1"></h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>
