<!DOCTYPE html>
<html lang="en">
<head>
    <title>Confidently Incorrect</title>
    <div th:replace="fragments/header :: header"></div>
    <script src="/static/js/runtime~Question.bundle.js"></script>
    <script src="/static/js/Question.bundle.js"></script>
</head>
<body>
<div class="container-fluid w-75 p-3">
    <h1 class="text-center"><a style="color:#ffffff">PROVIDE</a> <a
            style="color:#e6640c">ESTIMATE</a>
    </h1>
    <div class="col-md-8 offset-md-2">
        <br/>
        <br/>
        <div class="text-center">
            <h2>How much wood could a wood chuck chuck if a wood chuck could chuck wood?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 order-md-1 offset-md-4">
            <ul class="list-inline mx-auto justify-content-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control w-25" id="LowerBoundField"
                               aria-describedby="LowerBoundField" placeholder="Lower">
                    </div>
                </form>
            </ul>
        </div>
        <div class="col-md-3 order-md-2">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control w-25" id="UpperBoundField"
                           aria-describedby="UpperBoundField" placeholder="Upper">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <p>*answer indicator*</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <p>*countdown timer*</p>
        </div>
    </div>
    <br/>
    <form>
        <div class="center-stuff">
            <button type="button" class="btn btn-primary" onclick="submitEstimate()">Submit Estimate</button>
        </div>
    </form>
</div>
</div>
</body>
</html>