<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confidently Incorrect</title>
    <div th:replace="~{fragments/header :: header}"></div>
    <script th:src="@{/static/js/runtime~QuestionResults.bundle.js}"></script>
    <script th:src="@{/static/js/QuestionResults.bundle.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 fade-in">
            <h1 class="text-center mb-4">
                <span style="color:var(--text-color)">ROUND</span>
                <span style="color:var(--secondary-color)">COMPLETED</span>
            </h1>

            <div class="card mb-4">
                <div class="text-center mb-4">
                    <h2 id="AnswerField" class="mb-3"></h2>
                    <div id="LobbyScoreDisplay" class="mb-2"></div>
                </div>

                <div id="RangeVisualization" class="mb-4">
                    <h3 class="text-center mb-3">Player Ranges</h3>
                    <div id="RangeChart" class="range-chart"></div>
                </div>

                <div class="table-responsive">
                    <table id="ScoreList" class="table">
                        <thead>
                            <tr>
                                <th style="width: 2em"></th>
                                <th>Player Name</th>
                                <th>Score</th>
                                <th>Cumulative Score</th>
                                <th>Lower Bound</th>
                                <th>Upper Bound</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Rows will be added dynamically by JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="center-stuff">
                <button id="BtnNextQuestion" type="button" class="btn btn-lg btn-success">
                    <i class="material-icons">navigate_next</i> Next Question
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
